# Node modules
node_modules/
Backend/node_modules/
Frontend/node_modules/
frontend/node_modules/

# Environment files
.env
Backend/.env

# Uploads
Backend/uploads/

# AI Dataset
AI/dataset/
frontend/PlantVillage-Dataset/

# AI Models
AI/models/*.keras

# Python
__pycache__/
*.pyc

# Logs
*.log